{% load i18n %}

<form class="d-flex mx-auto">
            <div class="input-group">
              <input
                type="text"
                class="form-control"
                style="width: 400px"
                placeholder="{% trans 'Search' %}"
              />
              <select class="form-control" style="width: 160px">
                <option>Category</option>
                <option>Category</option>
                <option>Category</option>
                <option>Category</option>
                <option>Category</option>
              </select>
              <button class="btn btn-primary" type="button">
                <i class="lni lni-search-alt text-white"></i>
              </button>
            </div>
          </form>