<div class="main-slider my-auto">
        <!-- Additional required wrapper -->
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>

        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide">
            <div class="container pt-5">
              <div class="row">
                <div class="col-md-4 text-center d-none d-lg-block">
                  <img
                    src="https://via.placeholder.com/300"
                    alt="..."
                    class="img-fluid rounded"
                  />
                </div>
                <div class="col-md-8">
                  <h1 class="text-secondary">
                    Title test
                  </h1>
                  <blockquote class="blockquote mt-4">
                    <p class="text-muted">
                      description test
                    </p>
                  </blockquote>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="container pt-5">
              <div class="row">
                <div class="col-md-4 text-center d-none d-lg-block">
                  <img
                    src="https://via.placeholder.com/300"
                    alt="..."
                    class="img-fluid rounded"
                  />
                </div>
                <div class="col-md-8">
                  <h1 class="text-secondary">
                    There are many variations of Lorem Ipsum passages available
                  </h1>
                  <blockquote class="blockquote mt-4">
                    <p class="text-muted">
                      There are many variations of passages of Lorem Ipsum available,
                      but the majority have been modified in some form, by injected humour,
                      or randomized words into the text. If you want to use a passage of Lorem Ipsum,
                      you need to first check that there are no embarrassing or inappropriate words or phrases hidden in it.
                    </p>
                  </blockquote>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="container pt-5">
              <div class="row">
                <div class="col-md-4 text-center d-none d-lg-block">
                  <img
                    src="https://via.placeholder.com/300"
                    alt="..."
                    class="img-fluid rounded"
                  />
                </div>
                <div class="col-md-8">
                  <h1 class="text-secondary">
                    There are many variations of Lorem Ipsum passages available
                  </h1>
                  <blockquote class="blockquote mt-4">
                    <p class="text-muted">
                      There are many variations of passages of Lorem Ipsum available,
                      but the majority have been modified in some form, by injected humour,
                      or randomized words into the text. If you want to use a passage of Lorem Ipsum,
                      you need to first check that there are no embarrassing or inappropriate words or phrases hidden in it.
                    </p>
                  </blockquote>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- If we need scrollbar -->
        <!-- <div class="swiper-scrollbar"></div> -->
      </div>