{% extends 'base.html' %}

{% block content %}
      <div class="bg-white py-4">
        <h1 class="text-center text-secondary">Categories</h1>
      </div>
      <div class="container my-5">
        <section>
          <div class="row">
            <div class="col-md-3">
              <div class="list-group">
                <a
                  href="#"
                  class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
                  >All</a
                >
                <a
                  href="#"
                  class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
                  >Freelancing</a
                >
                <a
                  href="#"
                  class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
                  >Programming</a
                >
                <a
                  href="#"
                  class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
                  >Design</a
                >
                <a
                  href="#"
                  class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
                  >Marketing</a
                >
              </div>
            </div>
            <div class="col-md-9">
              <div class="row">
                <div class="col-md-4">
                  <div class="product card mb-4">
                    <img
                      src="https://via.placeholder.com/300"
                      class="card-img-top"
                      alt="..."
                    />
                    <div
                      class="card-img-overlay d-flex flex-column align-items-center justify-content-center"
                    >
                      <a class="btn btn-outline-light" href="product.html"
                        >Add to cart</a
                      >
                      <a class="btn btn-outline-light mt-2" href="product.html"
                        >View</a
                      >
                    </div>
                    <div class="card-body">
                      <h6 class="text-muted">Author Name</h6>
                      <h6 class="card-title">Vue.js basics</h6>
                      <strong class="fw-bold text-success">20$</strong>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="product card mb-4">
                    <img
                      src="https://via.placeholder.com/300"
                      class="card-img-top"
                      alt="..."
                    />
                    <div
                      class="card-img-overlay d-flex flex-column align-items-center justify-content-center"
                    >
                      <a class="btn btn-outline-light" href="product.html"
                        >Add to cart</a
                      >
                      <a class="btn btn-outline-light mt-2" href="product.html"
                        >View</a
                      >
                    </div>
                    <div class="card-body">
                      <h6 class="text-muted">Author Name</h6>
                      <h6 class="card-title">OS for programmer</h6>
                      <strong class="fw-bold text-success">20$</strong>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="product card mb-4">
                    <img
                      src="https://via.placeholder.com/300"
                      class="card-img-top"
                      alt="..."
                    />
                    <div
                      class="card-img-overlay d-flex flex-column align-items-center justify-content-center"
                    >
                      <a class="btn btn-outline-light" href="product.html"
                        >Add to cart</a
                      >
                      <a class="btn btn-outline-light mt-2" href="product.html"
                        >View</a
                      >
                    </div>
                    <div class="card-body">
                      <h6 class="text-muted">Author Name</h6>
                      <h6 class="card-title">Vue.js basics</h6>
                      <strong class="fw-bold text-success">30$</strong>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="product card mb-4">
                    <img
                      src="https://via.placeholder.com/300"
                      class="card-img-top"
                      alt="..."
                    />
                    <div
                      class="card-img-overlay d-flex flex-column align-items-center justify-content-center"
                    >
                      <a class="btn btn-outline-light" href="product.html"
                        >Add to cart</a
                      >
                      <a class="btn btn-outline-light mt-2" href="product.html"
                        >View</a
                      >
                    </div>
                    <div class="card-body">
                      <h6 class="text-muted">Author Name</h6>
                      <h6 class="card-title">OS for programmer</h6>
                      <strong class="fw-bold text-success">20$</strong>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="product card mb-4">
                    <img
                      src="https://via.placeholder.com/300"
                      class="card-img-top"
                      alt="..."
                    />
                    <div
                      class="card-img-overlay d-flex flex-column align-items-center justify-content-center"
                    >
                      <a class="btn btn-outline-light" href="product.html"
                        >Add to cart</a
                      >
                      <a class="btn btn-outline-light mt-2" href="product.html"
                        >View</a
                      >
                    </div>
                    <div class="card-body">
                      <h6 class="text-muted">Author Name</h6>
                      <h6 class="card-title">OS for programmer</h6>
                      <strong class="fw-bold text-success">20$</strong>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="product card mb-4">
                    <img
                      src="https://via.placeholder.com/300"
                      class="card-img-top"
                      alt="..."
                    />
                    <div
                      class="card-img-overlay d-flex flex-column align-items-center justify-content-center"
                    >
                      <a class="btn btn-outline-light" href="product.html"
                        >Add to cart</a
                      >
                      <a class="btn btn-outline-light mt-2" href="product.html"
                        >View</a
                      >
                    </div>
                    <div class="card-body">
                      <h6 class="text-muted">Author Name</h6>
                      <h6 class="card-title">Design basics</h6>
                      <strong class="fw-bold text-success">20$</strong>
                    </div>
                  </div>
                </div>
              </div>
              <nav>
                <ul class="pagination justify-content-center">
                  <li class="disabled">
                    <a
                      class="page-link"
                      href="#"
                      tabindex="-1"
                      aria-disabled="true"
                      >Previous</a
                    >
                  </li>
                  <li>
                    <a class="page-link" href="#">Next</a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </section>
      </div>
{% endblock %}
